<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCao_Wk2_Dropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BBDB91E1BB37BB80034B57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBDB9321BB37BB80034B57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBDB93D1BB37BB80034B57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
